@{
    ViewData["Title"] = "Error Page";
}

<div class="page-error">
    <div>
        <img src="@Url.Content("~/assets/icon/disconnected.png")" alt=""/>
        <label>There was a problem displaying this page!</label>
        <label>The QR Code has been used or an error occured</label>
    </div>
</div>    