@model Response

<div class="page-information">
    <div>
        <img class="m-x-15" src="@Model.ProfileImageUrl" alt=""/>
        @*<img class="m-x-15" src="@Url.Content("~/assets/icon/profile.png")" alt=""/>*@
    </div>
    <div>
        <div>
            <label>@Model.Code</label>
        </div>
        <div>
            <label>@Model.Name</label>
        </div>
    </div>
</div>
 