<div class="page-pending">
    <div>
        <img class="m-x-15" src="@Url.Content("~/assets/icon/qr-code.png")" alt=""/>
    </div>
    <div>
        <div>
            <label class="m-l-10 m-t-5">Pending Scan</label>
        </div>
        <div>
            <label class="m-l-10 m-t-5">Waiting for QR Code</label>
        </div>
        <div>
            <label class="m-l-10 m-t-5">Open AU Spark to get QR Code from Virtual ID</label>
        </div>
    </div>
</div>