<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/95acfc31-8834-433c-9a51-479fb83ceb1c/resourceGroups/Lexiddie20190129081328ResourceGroup/providers/Microsoft.Web/sites/qtempabacnet</ResourceId>
    <ResourceGroup>Lexiddie20190129081328ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://qtempabacnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>qtempabacnet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>qtempabacnet</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$qtempabacnet</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>